<!DOCTYPE html>
<html>
  <head>
    <title>My Resume</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styless.css">
  </head>
  <body>
    <header>
      <h1>Resume</h1>
      <img src="/static/image/mmm.jpg">
    </header>
    <section>
      <h2>About Me</h2>
      <p>I am a a student with a passion for web development and design. I am currently pursuing a Bachelor's Degree in Information and Technology and have little experience building websites and web applications using HTML, CSS, and JavaScript. In my free time, I enjoy learning new technologies, working on personal projects, and staying active in the local tech community.</p>
    </section>
    <section>
      <h2>Education</h2>
      <p>BIT running</p>
      <p>Higher Secondary, Global College Of Management, 2022</p>
      <p>SEE, Trinetra Vidya Niketan, 2019</p>
    </section>
    <section>
      <h2>Skills</h2>
      <ul>
        <li>HTML, CSS, and JavaScript</li>
    
        
      </ul>
    </section>
    <section>
      <h2>Experience</h2>
      <h3>WooCommerce</h3>
      <ul>
        <li>Developed and maintained several websites and web applications for clients using woocommerce.</li>
        <li>Implemented responsive web design techniques to ensure that websites looked great on all devices.</li>
      </ul>
    </section>
    <section>
      <h2>Contact Me</h2>
      <p>Email: <a href="mailto:you@example.com">khadkabibha@gmail.com</a></p>
      <p>LinkedIn: <a href="https://www.linkedin.com/in/yourname">Bibha Khadka</a></p>
      <p>Github: <a href="https://github.com/BibhaKhadka">Bibha Khadka</a></p>
      <p>Phone number: 9847369939</p>
    </section>
  </body>
</html>